.container {
    width: 200px;
    position: absolute;
    right: -16px;
    bottom: -10px;
    mix-blend-mode: color-dodge;
    animation: pulse 1800ms infinite;
    z-index: 10;

    @media(min-width: 1200px) {
        width: 300px;
    }
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

.img {
    width: 100%;
    height: 100%;
}